.btn {
    height: 60px;
    font-size: 1.2rem;
}
.Calculator{
    max-width: 350px;
    width: 100%;
}
#display{
    font-size: 1.5rem;
    height: 60px;
}
body{
    background: url("background-index.jpg");
    
}